.options-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button{
    font-size: 30px;
    
    color: #00becc;
    background-color: transparent;
    border: 2px solid #0099CC; 
    border-spacing: 2px;
border-radius: 13px;
box-shadow: 0 2px #999;

}
button:active {
    background-color: #ffffff;
    box-shadow: 0 9px #666;
    transform: translateY(4px);
  }